@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap');

/*273526 45624E 6D8777 C0CFB2 E4E6D9*/
/*1 rem = 16px por defecto*/

*{ /*Reset CSS*/
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

body{
    font-family: "Hind Mysuru", sans-serif;
    background-color: #E4E6D9;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 4rem 2rem;
}

/*Estilo de Nav*/
nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex; /*Me permite distribuir los elementos hijos de forma libre, por ejemplo ajustarlos de forma horizontal*/
    align-items: center;
    justify-content: space-between;
    /*Aplica un espacio entre los elementos hijos en layouts como flexbox o Grid, pero no actua como
    padding, ya que este aplica a varios elementos hijos, y padding solamente a cierto elemento*/
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
    display: flex;
    align-items: center;
    gap: .50rem;
}

.logo-name{
    font-size: 1.5rem;
    color: #273526;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #273526;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #273526;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: .75rem 1.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #273526;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #6D8777;
}

.buttons{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #273526;
    z-index: -100;
}


/*Estilo de la parte de header*/
header{
    position: relative;
    padding-top: 2rem;
    display: grid; /*A todo elemento al que agregue un grid, genera una tabla invisible*/
    /*
    +---+---+
    | 1 | 2 |
    +---+---+
    | 3 | 4 |
    +---+---+
    */
    grid-template-columns: repeat(2,1fr);/*Esto divide la rejilla en 2 columnas iguales. 1fr significa "1 fracción del espacio disponible*/
    align-items: center;
    gap: 2rem; /*definimos el espacio entre filas y columnas*/
}

header .content h4{
    margin-bottom: 1rem;
    color: #45624E;
    font-size: 1.5rem;
    font-weight: 600px;
}

header .content p{
    margin-bottom: 2rem;
    color: #45624E;
}

header .content h1{
    color: #273526;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent; /*relleno transparente para el texto*/
    -webkit-text-stroke: 1.25px #273526; /*Borde verde*/
}

header .image{
    position: relative;
}

header .image::before{
    content: "green";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    /*Para el contenido (content)*/
    font-size: 30rem;
    font-weight: 400;
    line-height: 20rem;
    color: #273526;
    opacity: 0.1;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

/*Sección About (Section)*/

section .header{
    margin-bottom: 0.5rem;
    color: #273526;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 900; /*Peso de la fuente, es decir lo negrita o delgada de la fuente (revisar documentacíon)*/
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.features .card{
    background-color: #C0CFB2;
    padding: 1rem;
    color: #45624E;
    font-size: 1.2rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #273526;
    font-size: 1.5rem;
    font-weight: 600;
}

.features .card:hover{
    background-color: #45624E;
    color: #fff;
    border-color: #fff;
}

/*
.features .card span{
    display: inline-block;
    background-color: #273526;
    padding: 2px 9px;
    margin-bottom: 1rem;    
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}
*/
.features .card p{
    margin-bottom: 1rem;
}

.features a{
    text-align: center;
    color: #E4E6D9;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    background-color: #45624E;
    transition: all 0.3s ease;
}

.features a:hover{
    color: #45624E;
    background-color: #E4E6D9;
}

/*Plant Gallery*/

.sub-header{
    max-width: 600px;
    margin: 1.25rem auto;
    text-align: center;
    color: #6D8777;
}

.plants{
    margin: top 4rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
}

.plants .card{
    padding: 3rem 2rem;
    background-color: #273526;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.plants .card:hover{
    background-color: #C0CFB2;
    border-color: #fff;
}

.plants .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.plants .card h4{
    margin-top: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.plants .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.plants .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.plants .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.plants .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.plants .card button:hover{
    background-color: #45624E;
    border-color: #45624E;
}

/*Footer Section*/
footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3,1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #273526;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #45624E;
    width: 40px; /* Anchura del círculo */
    height: 40px; /* Altura igual a la anchura */    
    border: 1px solid #273526;
    font-size: 1.5rem;
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    border-radius: 50%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #273526;
    border-color: #273526;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{ /*Solo <a> que son hijos directos de .column. Si estan dentro de la clase son hijos directos*/
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #273526;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    color: #273526;
    font-size: 0.8rem;
    text-align: center;
}
/*
@media (width < 900px){
    .nav-links{
        display: none;
    }
    .header{
        grid-template-columns: repeat(1,1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2,1fr);
    }
}
*/