@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap');

/*3F613E 6A8E7F FFE787 C5D5AC EBF8B8*/
/*1 rem = 16px por defecto*/

*{ /*Reset CSS*/
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

body{
    font-family: "Hind Mysuru", sans-serif;
    background-color: black;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex; /*Me permite distribuir los elementos hijos de forma libre, por ejemplo ajustarlos de forma horizontal*/
    align-items: center;
    justify-content: space-between;
    /*Aplica un espacio entre los elementos hijos en layouts como flexbox o Grid, pero no actua como
    padding, ya que este aplica a varios elementos hijos, y padding solamente a cierto elemento*/
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #ffffff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}