@import url('https://fonts.googleapis.com/css2?family=Hind+Mysuru:wght@300;400;500;600;700&display=swap');

/*3F613E 6A8E7F FFE787 C5D5AC EBF8B8*/
/*1 rem = 16px por defecto*/

*{ /*Reset CSS*/
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover, a:focus{
    text-decoration: none;
}

body{
    font-family: "Hind Mysuru", sans-serif;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}